.card img {
    height: 300px; 
    object-fit: cover; 
    margin-top: 10px; 
    border-radius: 10px;
}

.modal-desc{
    padding-left: 20px
}

#card-button {
    font-size: small;
    border: none;
    text-decoration: underline;
}

.modal img {
    height: 200px; 
    width: 200px; 
    object-fit: cover; 
    margin-top: 10px; 
    border-radius: 10px;
}

.card-body .card-title {
    font-weight: bolder;
}

.card-body .card-desc {
    font-size: small;
}


#arr-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-category {
    text-decoration: underline;
}

.modal-title-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding-right: 1rem;
}

.modal-title,
.modal-category {
    margin: 0;
}

.inline-elements {
    display: flex;
    align-items: center;
}

.card-icon {
    margin-right: 8px;
    margin-bottom: 10px;
}